@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
/*font-family: 'Birthstone', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/*font-family: 'Pacifico', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");
/* font-family: 'Scheherazade New', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@500&display=swap");
/*font-family: 'Birthstone Bounce', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
/*font-family: 'Pirata One', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");
/*font-family: 'Baloo Bhaijaan 2', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");
/*font-family: 'Luxurious Roman', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
/*font-family: 'Rubik', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap");
/*font-family: 'The Nautigal', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");
/*font-family: 'Baloo Bhaina 2', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
/*font-family: 'Merriweather', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");
/*font-family: 'Lobster Two', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap");
/*font-family: 'Catamaran', sans-serif;*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  padding-left: 1em;
  display: flex;
  align-items: center;
  gap: 2em;
}

.navbar ul li {
  list-style-type: none;
  font-size: 1.5rem;
}

.navbar ul li a {
  text-shadow: 1px 1px 2px white;
  color: black;
  font-weight: bold;
}

.logo {
  height: 6vh;
  width: 6vh;
  border-radius: 10px;
  margin-left: 1vw;
}

/* .btn {
  height: 4vh;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border: 0px;
  background-color: #ffffff00;
}

.btn input {
  height: 4vh;
  width: 11vw;
  border-radius: 5px;
  border: 2px solid black;
}

.searchLogo {
  padding: 0px 7px;
  cursor: pointer;
} */

/* Navbar ends Here */

.container {
  height: 86vh;
}

.container::before {
  content: "";
  position: absolute;
  background: url("./Assets/6083773.jpg") no-repeat center/cover;
  height: 100vh;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
}

.sewakBackground {
  background-color: #fffbea;
  padding: 20px 40px;
  gap: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  text-align: center;
  font-size: 3rem;
}

.about-bhakts {
  display: flex;
  gap: clamp(2em, 3vw, 6em);
  text-align: center;
  max-width: 90vw;
  margin: auto;
}

.pic-right img {
  width: 25vw;
  height: 443px;
  border: 10px solid black;
  border-radius: 30px;
}

.text {
  text-align: justify;
}

.text h1 {
  text-align: left;
  font-size: 2rem;
  padding-bottom: 10px;
}

.text p {
  width: 60vw;
  line-height: 35px;
  font-size: 1.3rem;
  font-family: sans-serif;
}

.text-left p {
  line-height: 37px !important;
}

.text-left h1 {
  text-align: end;
}

.footer {
  height: 150px;
  background-color: #f1c6a2;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.1rem;
}

.followUsOn h3 {
  padding-top: 15px;
}

.followUsOn {
  padding: 10px;
  color: black;
}

.copyright {
  padding: 10px;
  color: black;
}

.social-media {
  display: flex;
  margin: 0px 5px;
}

.social-media-button {
  padding: 10px 13px;
  text-decoration: none;
  color: #fff !important;
  background-color: black !important;
  border-radius: 17px;
}

.social-media-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

/* .h-primary {
  font-size: 3rem;
  padding: 12px;
} */

/* .h-secondary {
  font-size: 2.3rem;
  padding: 12px;
} */

/* .center {
  text-align: center;
} */

.socialMediaIcon {
  display: flex;
}




/* Media queries */
@media screen and (max-width: 56.25em) {
  .sewakBackground {
    gap: 2em;
  }

  .main {
    font-size: 2.5rem;
  }

  .about-bhakts {
    flex-direction: column;
  }

  .pic-right {
    order: 1;
  }

  .pic-right img {
    width: 50vw;
  }

  .text h1 {
    padding: 15px;
    text-align: center;
    font-size: 1.8rem;
  }

  .text p {
    text-align: justify;
    font-size: 1.3rem;
  }

  .text {
    order: 2;
  }
}

@media screen and (max-width: 36.25em) {
  .main {
    font-size: 2.5rem;
  }

  .text h1 {
    font-size: 1.4rem;
  }

  .text p {
    text-align: justify;
    font-size: 1rem;
  }

  .text p {
    line-height: 30px;
  }
}